<div class = continer>
  <div class = inner>
    <h1 class = title>登録画面</h1>
    <%= form_for @commodity do |f| %>
      <table>
        <tr>
          <th>登録名</th>
          <th>次回交換予定日</br>何日後</th>
          <th>登録</th>
      　</tr>
      　<tr>
      　   <td><%= f.text_field :registration_name , class: "toroku-input" %></td>
      　   <td><%= f.text_field :change_interval , class: "interval-input" %></td>
      　   <td><%= f.submit '登録', class: "bottn" %></td>
      　</tr>
      </table>
    <% end %>
    <p class = linktitle><%= link_to "登録一覧画面へ", commodities_path, class: "linkpage" %></p>
  </div>
</div>