<h1>登録一覧画面</h1>
<table>
  <tr>
    <th>登録名</th>
    <th>交換日</th>
    <th>次回交換日</th>
    <th>編集</th>
    <th>削除</th>
  </tr>
  <% @commodities.each do |commodity| %>
  <tr>
    <td><%= commodity.registration_name %></td>
    <td><%= commodity.change_interval %></td>
    <td><%= commodity.change_interval %></td>
    <td><%= link_to "編集", "/commodities/edit/" %></td>
    <td><%= link_to "削除", "/commodities/" + commodity.id.to_s, method: :delete %></td>
  </tr>
  <% end %>
</table>